* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --cor-laranja-claro: #ff7a00;
    --cor-preto: #0a0a0a;
    --cor-azul-escuro: #000218;
    --cor-texto: #ffffff;
    --cor-cinza-claro: #cfcfcf;
    --cor-cinza-escuro: #747474;
    --cor-laranja-escuro: #b64300;
    --cor-laranja-escuro2: #7a2d00;
    --cor-preto-claro: #0a0a0ac0;
    --cor-preta-transparente: rgba(0, 0, 0, 0.459);
    --font-size-navbar: 0.9rem;
    --font-size-pequena: 1rem;
    --font-size-media: 1.3rem;
    --font-size-grande: 2rem;
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--cor-texto);
}

.navbar {
    position: fixed;
    width: 100vw;
    background: var(--cor-preta-transparente);
    padding: 1rem 0;
    box-shadow: var(--cor-preta-transparente);
    transition: all 0.3s ease;
    border-radius: 0;
    z-index: 20;
}

html {
    scroll-behavior: smooth;
}

.navbar.scrolled {
    padding: 0.8rem 0;
    border-radius: 0 0 30px 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    max-height: 40px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    max-height: 2.5rem;
}

a {
    text-decoration: none;
}

.logo-text {
    color: var(--cor-laranja-claro);
    font-size: var(--font-size-navbar);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: var(--font-size-navbar);
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--cor-laranja-claro);
}

.contact-btn {
    padding: 0.5rem 1.5rem;
    background: var(--cor-laranja-claro);
    border: none;
    color: var(--cor-texto);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.contact-btn:hover {
    background: var(--cor-laranja-escuro);
}

/* Seção Home */
.home-section {
    display: flex;
    align-items: center;
    padding-left: 13%;
    width: 100vw;
    text-align: center;
    color: var(--cor-texto);
    background-image: url(../img/equestrianhorse.jpg);
    background-size: cover;
    height: 100vh;
}

.home-introduction {
    max-width: 47rem;
    text-align: start;
}

.highlight {
    color: var(--cor-laranja-claro);
}

.home-introduction h1 {
    font-size: var(--font-size-grande);
    color: var(--cor-texto);
    font-weight: 700;
}

.home-introduction p {
    font-size: var(--font-size-media);
    margin: 1rem 0 2rem;
    color: var(--cor-texto);
    font-weight: 500;
}

.join-btn {
    padding: 0.8rem 1.5rem;
    background: var(--cor-laranja-claro);
    color: var(--cor-texto);
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.join-btn:hover {
    background: var(--cor-laranja-escuro);
}

/* Seção de detalhes do Cavalo */
/* Estilo para o Título */
.title {
    color: var(--cor-laranja-claro);
    font-size: var(--font-size-grande);
    max-width: 30rem;
    text-align: start;
    font-weight: 800;
    position: absolute;
    padding: 2rem;
    left: 11%;
    background: none;
    z-index: 1;
}

/* Estilos do Cavalo */
.horse-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../img/cavalo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}

/* Seção de Serviços */
.logos-section {
    background: linear-gradient(to bottom, var(--cor-laranja-escuro2), var(--cor-azul-escuro));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    width: 100vw;
}

.logos-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    font-size: var(--font-size-media);
    text-align: center;
    color: var(--cor-laranja-claro);
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 20px;
}

.logo-card {
    background-color: var(--cor-preta-transparente);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px var(--cor-preta-transparente);
    transition: transform 0.3s ease;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    text-align: center;
}

.logo-card:hover {
    transform: scale(1.05);
}

.logo-card img {
    max-width: 50px;
}

.logo-card p {
    font-size: var(--font-size-pequena);
    text-align: center;
    color: var(--cor-cinza-claro);
    word-wrap: break-word;
}

/* Seção Sobre Nós */
#sobre-nos {
    text-align: center;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sobre-nos h2 {
    font-size: var(--font-size-media);
    color: var(--cor-laranja-claro);
    padding: 1rem;
}

#sobre-nos p {
    font-size: var(--font-size-pequena);
    color: var(--cor-cinza-claro);
    padding: 1rem;
}

.about-images img {
    max-width: 25rem;
}

/* Estilos da seção de fundadores */
.founders-section {
    text-align: center;
    padding: 2rem;
    background-color: var(--cor-preto);
    color: var(--cor-cinza-claro);
    width: 100vw;
}

.founders-section h2 {
    padding: 1rem;
    color: var(--cor-laranja-claro);
    font-size: var(--font-size-media);
}

.founders-container {
    display: flex;
    justify-content: center;
    color: var(--cor-cinza-claro);
}

.founder-card {
    padding: 1rem;
    max-width: 450px;
}

.image-wrapper img {
    background-image: cover;
}

.founder-card h3 {
    font-size: var(--font-size-pequena);
    color: var(--cor-laranja-claro);
    margin: 10px 0 5px;
}

/* Carrossel */
.carousel {
    display: flex;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    position: relative;
}

.carousel-slide {
    flex: 0 0 auto;
    transform: scale(1);
    opacity: 0.5;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: 350px;
    height: 250px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 20px var(--cor-preto-claro);
}

.carousel-slide.active {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--cor-cinza-escuro);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicator.active {
    background-color: var(--cor-texto);
}

.carousel-btn {
    position: absolute;
    border: none;
    color: var(--cor-preto);
    font-size: 2rem;
    cursor: pointer;
    z-index: 20;
    padding: 20px;
}

.carousel-btn.prev {
    left: 10px;
    margin-top: 20px;
}

.carousel-btn.next {
    right: 10px;
    margin-top: 20px;
}

/* Rodapé */
.footer {
    background: linear-gradient(to top, var(--cor-azul-escuro), var(--cor-preto));
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    /* Centraliza todos os itens dentro do footer */
    justify-content: space-around;
}

/* Container Principal */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

/* Colunas */
.footer-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

/* Logo no Rodapé */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/* Logo no Rodapé */
.footer-logo img {
    max-width: 70px;
    max-height: 70px;
}

.footer-logo h3 {
    text-align: center;
}

/* Cabeçalhos das Colunas */
.contact-info h4,
.footer-column h3 {
    color: var(--cor-laranja-claro);
    font-size: var(--font-size-pequena);
    text-align: center;
}

/* Links no Rodapé */
.contact-info a,
.footer-bottom p {
    color: var(--cor-cinza-claro);
    text-decoration: none;
    font-size: var(--font-size-pequena);
    align-items: center;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
}

.contact-info a:hover {
    color: var(--cor-laranja-escuro);
    transition: 0.3s ease-out;
}

/* Ícones sociais */
.footer-socials .social-icon {
    font-size: var(--font-size-pequena);
    color: var(--cor-laranja-claro);
    transition: color 0.3s ease;
}

.footer-socials .social-icon:hover {
    color: var(--cor-laranja-escuro);
}

/* Rodapé Inferior */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    font-size: var(--font-size-pequena);
    color: var(--cor-cinza-claro);
    border-top: 1px solid var(--cor-cinza-claro);
}

.footer-bottom img {
    max-width: 65px;
    height: auto;
}

/* Contato WhatsApp */
.contact-whats a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/whatsapp.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    transition: transform 0.6s ease;
    overflow: visible;
    box-shadow: 0 4px 8px var(--cor-preto-claro);
}

.contact-whats a:hover {
    transform: scale(1.1);
}

.contact-whats {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 1000;
    overflow: visible;
}
/* pagina registro */
main.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--cor-azul-escuro);
    padding: 2rem;
    
  }
  
  section.register-container {
    background-color: var(--cor-texto);
    box-shadow: 0px 4px 10px var(--cor-preta-transparente);
    border-radius: 8px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--cor-cinza-escuro);
    text-align: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  /* Estilização dos Fieldsets */
  fieldset {
    border: 2px solid var(--cor-texto);
    border-radius: 8px;
    padding: 1.5rem;
  }
  
  legend {
    font-size: 1.2rem;
    color: var(--cor-cinza-escuro);
    padding: 0 0.5rem;
  }
  
  /* Estilização de Rótulos e Inputs */
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--cor-cinza-escuro);
    display: block;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 4px;
    background-color: var(--cor-texto);
    transition: border 0.2s ease-in-out;
  }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }
  
  /* Placeholder */
  input::placeholder, textarea::placeholder {
    color: #aaa;
  }
  
  /* Botão de Envio */
  button.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  button.submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    section.register-container {
      padding: 1rem;
    }
    
    h1 {
      font-size: 1.5rem;
    }
  
    input, select, textarea {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  
    button.submit-btn {
      padding: 0.6rem;
      font-size: 0.9rem;
    }
  }